USE [TicketsDb]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 16.08.2019 14:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 16.08.2019 14:04:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Tickets](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [varchar](50) NOT NULL,
	[Description] [varchar](300) NOT NULL,
	[Priority] [int] NOT NULL,
	[CreateDate] [datetime] NOT NULL,
	[EndDate] [datetime] NOT NULL,
	[Status] [bit] NOT NULL,
	[IsDelete] [bit] NOT NULL,
 CONSTRAINT [PK_dbo.Tickets] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[Tickets] ON 

INSERT [dbo].[Tickets] ([Id], [Title], [Description], [Priority], [CreateDate], [EndDate], [Status], [IsDelete]) VALUES (1, N'Сделать сервер мониторинга Zabbix', N'Установить и сконфигурировать Apache, PHP, php-mod, zabbix-server, zabbix-agent, zabbix-frontend', 3, CAST(N'2019-08-12 13:19:32.217' AS DateTime), CAST(N'2019-11-09 00:00:00.000' AS DateTime), 1, 0)
INSERT [dbo].[Tickets] ([Id], [Title], [Description], [Priority], [CreateDate], [EndDate], [Status], [IsDelete]) VALUES (2, N'Изменить SNMP community', N'Стандартный community не подходит изменить', 2, CAST(N'2019-08-13 13:20:45.077' AS DateTime), CAST(N'2019-08-14 13:19:00.000' AS DateTime), 0, 0)
INSERT [dbo].[Tickets] ([Id], [Title], [Description], [Priority], [CreateDate], [EndDate], [Status], [IsDelete]) VALUES (6, N'Узнать адрес NTP сервера', N'Узнать адрес или адреса NTP серверов в каждой подсети', 0, CAST(N'2019-08-13 14:38:21.527' AS DateTime), CAST(N'2019-08-14 14:36:00.000' AS DateTime), 0, 0)
SET IDENTITY_INSERT [dbo].[Tickets] OFF
