<div class="container">
    <h2>Комбинации карт в покере</h2>
    <p>Возможные комбинации карт в порядке убывания достоинства:</p>
    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Роял-флэш</h4>
        <p>Роял-флэш (англ. royal flush — «королевская масть»): не является отдельной комбинацией, а является частным случаем стрит-флэша, старшим из всех возможных, и состоит из 5 старших (туз, король, дама, валет, десять) карт одной масти</p>
        <hr>
        <p class="mb-0">Т<span style="color: red">♥</span>&nbsp;K<span style="color: red">♥</span>&nbsp;Д<span style="color: red">♥</span>&nbsp;В<span style="color: red">♥</span>&nbsp;10<span style="color: red">♥</span></p>
    </div>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Стрит-флэш</h4>
        <p>Стрит-флэш (англ. straight flush — «масть по порядку»): любые пять карт одной масти по порядк. Туз может начинать комбинацию для любой упорядоченной четвёрки. Самый младший стрит-флэш (от туза до пятёрки) иногда именуют «стальное колесо»</p>
        <hr>
        <p class="mb-0">9<span style="color: black">♠</span>&nbsp;8<span style="color: black">♠</span>&nbsp;7<span style="color: black">♠</span>&nbsp;6<span style="color: black">♠</span>&nbsp;5<span style="color: black">♠</span></p>
    </div>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Каре</h4>
        <p>Каре/Четвёрка/Покер (англ. four of a kind, quads — «четыре одинаковых»): четыре карты одного достоинства</p>
        <hr>
        <p class="mb-0">3<span style="color: red">♥</span>&nbsp;3<span style="color: red">♦</span>&nbsp;3<span style="color: black">♣</span>&nbsp;3<span style="color: black">♠</span>&nbsp;</p>
    </div>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Фулл-хаус</h4>
        <p>Фулл-хаус/Полный дом/Три плюс два (англ. full house, full boat — «полный дом», «полная лодка»): одна тройка и одна пара</p>
        <hr>
        <p class="mb-0">10<span style="color: red">♥</span>&nbsp;10<span style="color: red">♦</span>&nbsp;10<span style="color: black">♠</span>&nbsp;8<span style="color: black">♣ 8<span style="color: red">♥</span></p>
    </div>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Флэш</h4>
        <p>Флэш (англ. flush — «масть»): пять карт одной масти</p>
        <hr>
        <p class="mb-0">К<span style="color: black">♠</span>&nbsp;В<span style="color: black">♠</span>&nbsp;8<span style="color: black">♠ 4<span style="color: black">♠</span>&nbsp;3<span style="color: black">♠</span></p>
    </div>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Стрит</h4>
        <p>Стрит (англ. straight — «порядок») : пять карт по порядку любых мастей. Туз может как начинать порядок, так и заканчивать его. В данном примере Т<span style="color: red">♦</span> начинает комбинацию и его достоинство оценивается в единицу, а 5<span style="color: red">♦</span> считается старшей картой. Самый младший стрит (от пятёрки до туза) иногда именуют «колесо», самый старший (от туза до десятки) — «Бродвей»</p>
        <hr>
        <p class="mb-0">5<span style="color: red">♦</span>&nbsp;4<span style="color: red">♥</span>&nbsp;3<span style="color: black">♠</span>&nbsp;2<span style="color: red">♦</span>&nbsp;Т<span style="color: red">♦</span></p>
    </div>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Сет/Триплет/Трипс/Тройка</h4>
        <p>Сет/Триплет/Трипс/Тройка (англ. three of a kind, set — «три одинаковых», «набор»): три карты одного достоинства</p>
        <hr>
        <p class="mb-0">7<span style="color: black">♣</span>&nbsp;7<span style="color: red">♥</span>&nbsp;7<span style="color: black">♠</span></p>
    </div>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Две пары</h4>
        <p>Две пары (англ. two pairs): две пары карт</p>
        <hr>
        <p class="mb-0">8<span style="color: black">♣</span>&nbsp;8<span style="color: black">♠</span>&nbsp;4<span style="color: red">♥</span>&nbsp;4<span style="color: black">♣</span></p>
    </div>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Одна пара</h4>
        <p>Одна пара (англ. one pair): две карты одного достоинства</p>
        <hr>
        <p class="mb-0">9<span style="color: red">♥</span>&nbsp;9<span style="color: black">♠</span></p>
    </div>

    <div class="alert alert-success" role="alert">
        <h4 class="alert-heading">Старшая карта</h4>
        <p>Старшая карта (англ. high card): ни одна из вышеописанных комбинаций</p>
        <hr>
            <p class="mb-0">Т<span style="color: red">♦</span>&nbsp;10<span style="color: red">♦</span>&nbsp;9<span style="color: black">♠</span>&nbsp;5<span style="color: black">♣</span>&nbsp;4<span style="color: black">♣</span>&nbsp;(комбинация называется «старший туз»)</p>
    </div>
</div>