<div class="container">
    <h2>Правила игры</h2>
    <p>Общие правила игры:</p>
    <div class="alert alert-success" role="alert">
        @*<h4 class="alert-heading">Отличная работа!</h4>*@
        <p>
            В покер играют несколько участников (2 и более, обычно до 8 за одним столом).
            <hr>
            Значения карт располагаются по нисходящей от туза и далее (король, дама, валет, 10…2).
            <hr>
            Туз может рассматриваться и как младшая карта для образования последовательности (стрит) до 5 включительно, и как старшая (в комбинации туз- король— дама — валет — 10).
            <hr>
            Игра состоит из нескольких фаз, то есть раундов торговли.
            <hr>
            Каждая из них начинается с обязательных ставок и раздачи новых карт.
            <hr>
            После раздачи карт каждый игрок имеет возможность сделать ставку или завершить игру.
            <hr>
            Победителем считается тот, чья комбинация из пяти карт окажется лучшей, или тот, кто сможет вытеснить из игры других игроков с помощью ставок или блеф-ставок и останется один до вскрытия карт.
        </p>
    </div>    
</div>