<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - EasyBilling</title>
    <link rel="stylesheet" href="~/lib/bootstrap-material-design/css/bootstrap-material-design.min.css" />
    <link rel="stylesheet" href="~/css/form.css" />
</head>
<body>
    @RenderBody()
    <script src="~/lib/jquery/jquery-3.2.1.slim.min.js"></script>
    <script src="~/lib/popper/popper.js"></script>
    <script src="~/lib/bootstrap-material-design/js/bootstrap-material-design.js"></script>
    <script>$(document).ready(function () { $('body').bootstrapMaterialDesign(); });</script>
    @RenderSection("Scripts", required: false)
</body>
</html>
