@inject EasyBilling.Services.AccessRightsManager arm

<header>
    <nav class="navbar navbar-expand-lg navbar-light rounded my-3 menu">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="/images/easy-billing-icon.svg" width="30" height="30" class="d-inline-block align-top" alt="">
            EasyBilling
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse">
            <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                @{
                    var menuItems = arm.GetMenuItemsByRole(User.Identity.Name).Result;
                    foreach (var item in menuItems)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="@item.Key" asp-action="Index">@item.Value</a>
                        </li>
                    }
                }
            </ul>
            <form class="form-inline mt-2 mt-lg-0" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Профиль (@User.Identity.Name)</a>
                <button type="submit" class="nav-link btn btn-link text-dark">Выйти</button>
            </form>
        </div>
    </nav>
</header>