@using week2.Models
@model IEnumerable<Ticket>
@{
    ViewBag.Title = "Заявки";
}

<h2>@ViewBag.Title</h2>

<div>
    @using (Ajax.BeginForm("_ShowSearchTickets", new AjaxOptions { UpdateTargetId = "tickets-rows" }))
    {
        if (User.Identity.IsAuthenticated)
        {
            <a href="@Url.Action("Add", "Tickets")" class="btn btn-success">
                <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                Добавить новую заявку
            </a>
        }

        <select name="type">
            <option value="Title">Название</option>
            <option value="Description">Описание</option>
            <option value="CreateDate">Дата создания</option>
            <option value="EndDate">Дата завершения</option>
        </select>

        @Html.TextBox("text", "")

        <button type="submit" class="btn btn-success" aria-label="Left Align">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            Искать
        </button>
    }

    <div id="tickets-rows" class="tickets-table">
            @Html.Partial("_ShowSearchTickets", Model)
    </div>
</div>
