<div class="center_title_bar">Contacts Us</div>
<div class="prod_box_big">
    <div class="top_prod_box_big"></div>
    <div class="center_prod_box_big">
        <div class="contact_form">
            <div class="form_row">
                <label class="contact"><strong>Name:</strong></label>
                <input type="text" class="contact_input" />
            </div>
            <div class="form_row">
                <label class="contact"><strong>Email:</strong></label>
                <input type="text" class="contact_input" />
            </div>
            <div class="form_row">
                <label class="contact"><strong>Phone:</strong></label>
                <input type="text" class="contact_input" />
            </div>
            <div class="form_row">
                <label class="contact"><strong>Company:</strong></label>
                <input type="text" class="contact_input" />
            </div>
            <div class="form_row">
                <label class="contact"><strong>Message:</strong></label>
                <textarea class="contact_textarea"></textarea>
            </div>
            <div class="form_row"> <a href="http://all-free-download.com/free-website-templates/"
                    class="contact">send</a> </div>
        </div>
    </div>
    <div class="bottom_prod_box_big"></div>
</div>