@model NetworkCheckers.Models.Game
@{
    ViewData["Title"] = "Игра";
}

<table class="game">
    <tr>
        <td colspan="2" class="player inset-shadow">
            <span id="white-player"></span>
        </td>
    </tr>
    <tr>
        <td class="left-panel inset-shadow">
            <span>Счёт</span>
            <div class="score inset-shadow">
                <div id="white-score">0</div>:<div id="black-score">0</div>
            </div>
            <span>Время</span>
            <div id="time" class="time inset-shadow">
                <div id="minutes">00</div>:<div id="seconds">00</div>
            </div>
            <span>Журнал</span>
            <div id="log" class="log">
            </div>
        </td>
        <td class="board" border-size="@Convert.ToInt32(Model.Board.Size)"></td>
    </tr>
    <tr>
        <td colspan="2" class="player inset-shadow">
            <span id="black-player"></span>
        </td>
    </tr>
</table>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/signalr/signalr.min.js"></script>
<script src="~/js/game.js"></script>