@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Подтверждение регистрации";
}

<h1>@ViewData["Title"]</h1>
<p>
    Пожалуйста, проверьте вашу почту. Мы отправили вас письмо для подтверждения регестрации.
</p>
