@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        @*<h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
        <div class="jumbotron">
            <img src="~/images/poker-icon.png" width="150"/>
            <h1 class="display-4">Добро пожаловать на OnlinePoker!</h1>
            <p class="lead">Это простой сайт для игры в покер.</p>
            <hr class="my-4">
        </div>
    </div>
