@page
@model IndexModel
@{
    ViewData["Title"] = "Профиль";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h4>@ViewData["Title"]</h4>
<partial name="_StatusMessage" model="Model.StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.Email"></label>
                <input asp-for="Input.Email" class="form-control" disabled />
            </div>
            <div class="form-group">
                <label asp-for="Input.NickName"></label>
                <input asp-for="Input.NickName" class="form-control" />
                <span asp-validation-for="Input.NickName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Input.CoinsAmount"></label>
                <input asp-for="Input.CoinsAmount" class="form-control" disabled/>
            </div>
            <button id="update-profile-button" type="submit" class="btn btn-primary">Сохранить</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}