<div class="jumbotron text-center" style="width: 100%; background-color: white;">
    <img class="m-3" src="/images/easy-billing-icon.svg" alt="..." width="100" height="100">
    <h1 class="display-4">Добро пожаловать в EasyBilling!</h1>
    <hr class="my-4">
</div>